In [19]:
from sklearn import svm
from sklearn.datasets import load_iris
from sklearn.preprocessing import StandardScaler
iris = load_iris()
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [20]:
#open and read file

#file = open('DATA.csv')

#csvreader = csv.reader(file)
data= pd.read_csv("DATA.csv", delimiter=';')
df=pd.DataFrame(data)
df.head()

,STUDENT ID,1,2,3,4,5,6,7,8,9,...,23,24,25,26,27,28,29,30,COURSE ID,GRADE
0,STUDENT1,2,2,3,3,1,2,2,1,1,...,1,1,3,2,1,2,1,1,1,1
1,STUDENT2,2,2,3,3,1,2,2,1,1,...,1,1,3,2,3,2,2,3,1,1
2,STUDENT3,2,2,2,3,2,2,2,2,4,...,1,1,2,2,1,1,2,2,1,1
3,STUDENT4,1,1,1,3,1,2,1,2,1,...,1,2,3,2,2,1,3,2,1,1
4,STUDENT5,2,2,1,3,2,2,1,3,1,...,2,1,2,2,2,1,2,2,1,1

In [21]:
X = df.drop(['STUDENT ID', 'COURSE ID', 'GRADE'], axis = 1)
y = df['GRADE']

In [22]:
scaler = StandardScaler()
scaler.fit(X)

StandardScaler()

In [24]:
X_cols = df.columns.drop(['STUDENT ID', 'COURSE ID', 'GRADE'])
X = pd.DataFrame(scaler.transform(X), columns=X_cols)

In [26]:
from imblearn.over_sampling import SMOTENC

sample = SMOTENC(categorical_features=[df.dtypes==object], random_state=42)

sampled_X, sampled_y = sample.fit_resample(X, y)

C:\Users\taile\Anaconda3\lib\site-packages\scipy\sparse\lil.py:512: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not i.flags.writeable or i.dtype not in (np.int32, np.int64):
C:\Users\taile\Anaconda3\lib\site-packages\scipy\sparse\lil.py:514: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not j.flags.writeable or j.dtype not in (np.int32, np.int64):
C:\Users\taile\Anaconda3\lib\site-packages\scipy\sparse\lil.py:518: FutureWarning: future versions will not create a writeable array from broadcast_array. Set the writable flag explicitly to avoid this warning.
  if not x.flags.writeable:

In [28]:
from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.3, random_state=42)
sampled_X_train, sampled_X_test, sampled_y_train, sampled_y_test = train_test_split(sampled_X, sampled_y, test_size=0.3, random_state=42)

In [29]:
from sklearn.svm import LinearSVC
from sklearn.model_selection import GridSearchCV

parameters = {'C':[0.001, 0.01, 0.1, 1, 2, 3, 4, 5, 10]}
grid_search = GridSearchCV(LinearSVC(dual=False), parameters, cv=10)

grid_search.fit(sampled_X_train, sampled_y_train)
oversampled_best_estimator = grid_search.best_estimator_

grid_search.fit(X_train, y_train)
regular_best_estimator = grid_search.best_estimator_

print('Oversampled Linear SVC: ' + oversampled_best_estimator.__str__())
print('Regular Linear SVC: ' + regular_best_estimator.__str__())

C:\Users\taile\Anaconda3\lib\site-packages\sklearn\model_selection\_split.py:680: UserWarning: The least populated class in y has only 3 members, which is less than n_splits=10.
  UserWarning,

Oversampled Linear SVC: LinearSVC(C=2, dual=False)
Regular Linear SVC: LinearSVC(C=0.01, dual=False)

In [30]:
oversampled_lin_clf = LinearSVC(C = 2, dual=False, random_state=42)
oversampled_lin_clf.fit(sampled_X_train, sampled_y_train)

LinearSVC(C=2, dual=False, random_state=42)

In [31]:
regular_lin_clf = LinearSVC(C = .01, dual=False, random_state=42)
regular_lin_clf.fit(X_train, y_train)

LinearSVC(C=0.01, dual=False, random_state=42)